.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #f9f5fc;
  font-family: 'Inter Tight', sans-serif;
}

p {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  font-size: 19px;
}

.header {
  margin-top: 50px;
  margin-left: 40px;
  font-size: 19px;
}

.main-container {
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nick-pic {
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid rgb(44, 44, 44);
}

.text-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.list-container {
  margin-top: 10px;
}

